* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 13px;
}
body {
  border: 1px solid #000;
  height: 100vh;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: gray;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}
.top-nav li {
  margin: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right button {
  padding: 7px 12px;
  background: #4285f4;
  border-style: none;
  color: white;
  font-weight: bold;
}

main {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  height: 80vh;
}

.container {
  border: 2px solid rgb(199, 198, 198);
  border-radius: 40px;
  margin: 10px;
  display: flex;
  padding: 0 10px;
  font-size: 22px;
}

.searchbar {
  width: 550px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 40px;
  margin: 10px 0;
  padding: 0 40px;
  border-style: none;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
}
.btns {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  background: #c7ccd1;
  border: none;
}

.footer nav {
  display: flex;
  position: absolute;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  justify-content: space-between;
  background: #d0d0d0;
  color: #5f6368;
}

.footer li {
  padding: 20px;
}
.footer .nav-foot-left {
  display: flex;
}
.footer .nav-foot-right {
  display: flex;
}

@media (max-width: 750px) {
  .searchbar {
    width: 300px;
    font-size: 15px;
  }

  .footer nav {
    flex-wrap: wrap;
    align-content: center;
  }
  .footer li {
    padding: 5px;
  }
}
